<link rel="stylesheet" href="css/allforms.css">
<h2><a class="head" href="/homepage" style="color: black;">Домой </a> </h2>
<h2>Your departement is {{department}}</h2>
<ul class="list3b">
  {{#each entries}}
  <li><a href='entry/{{this._id}}'>{{this._id}}</a></li>
  {{/each}}
</ul>
