

<div class="header" id="myHeader">
  <h2 class="head" style="color: black;">История </h2>
</div>

<hr align="center" size="3" color="black" width="100%">
<div id="w">

  {{#each entrys}}
  <div style="display: flex;">
    <div>
      <p>{{this.user.name}}</p>
      <p>{{this.user.email}}</p>
    </div>
    <div class="list3b">{{this.comment}}</div>
  </div>
  <hr align="center" size="2" width="100%">
  {{/each}}
</div>
