<link rel="stylesheet" href="css/homepage.css">
<div id="head">
  <a id="logout" href='/logout'>logOut</a>
  <h3>{{name}}</h3>
</div>
<div id="block">
  <a class="column" href='/newform'>create new form</a>
  <a class="column" href='/allforms'>All forms</a>
  <a class="column" href='/yourforms'>Department forms</a>
</div>
