<link rel="stylesheet" href="css/login.css">
<div id="form">
  <h2>Login</h2>
  <form action='/login' method="POST">
    <div class="mb-3">
      <input type="text" placeholder="email" name="email" class="form-control" id="string">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="password" name="password" class="form-control" id="string">
    </div>
    <button type="submit" class="gradient-button">Login</button>
  </form>
</div>
