<h2>Login</h2>
<form action='/signin' method="POST">
  <div class="mb-3">
    <input type="text" placeholder="email" name="email" class="form-control" id="inputName">
  </div>
  <div class="mb-3">
    <input type="password" placeholder="password" name="password" class="form-control" id="inputPassword">
  </div>
  <button type="submit" class="block button">Login</button>
</form>
