/* Style the header */
.header {
  padding: 10px 16px;
  background: rgb(80, 152, 200);
  color: #d1d1d1;
  display: flex;
  justify-content: space-around;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

#materialUp {
  display: flex;
  justify-content: space-around;
}
#block {
  display: flex;
  justify-content: space-around;
}
#column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

div {
  background-color: rgb(191, 202, 212);
}
