* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
.head:hover {
  padding: 10px 10px 10px 10px;
  background: linear-gradient(to right, #ecdede 0%, #dfdfdf 51%, #e6e0e0 100%);
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: rgb(255, 255, 255);
  color: #d1d1d1;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
/*  */
#name {
  font-weight: bold;
}
#contactform {
  position: relative;
}
#materialUp {
  display: flex;
  justify-content: space-around;
}
#block {
  display: flex;
  justify-content: space-around;
  font-size: 90%;
}
#column {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px 10px 10px 10px;
  width: 700px;
}

div {
  background-color: rgb(191, 202, 212);
}
.button {
  align-items: center;
}
.keyWord {
  /* text-align: left; */
  width: 10%;
  padding-top: 30px;
}
.handWord {
  color: rgb(139, 41, 41);
}
.height {
  margin-bottom: 50px;
}
.req {
  font-size: 110%;
}

/* кнопочка */

/* body {
  background: #d6eaf8;
} */
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #ecdede 0%,
    #dfdfdf 51%,
    #e6e0e0 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.gradient-button:hover {
  background-position: right center;
}
/* обычные поля */
#string {
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #ecdede 0%,
    #dfdfdf 51%,
    #e6e0e0 100%
  );
  background-size: 100% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/* кнопочки добавления  */
.addplus {
  text-decoration: none;
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  width: 200px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #ecdede 0%,
    #dfdfdf 51%,
    #e6e0e0 100%
  );
  background-size: 100% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
